header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}
h1 {
	margin: 0;
}
main {
	display: flex;
	flex-wrap: wrap;
}
article {
	flex-basis: calc(33.33% - 20px);
	margin: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}